# ==============================================================================
# Сгенерированные файлы Cargo и Tauri
# ==============================================================================
/target/
/gen/schemas/

# Исполняемые и динамические библиотеки
*.dll
*.exe
