pkgbase = l-mpv
	pkgdesc = Modern desktop media player powered by Tauri and libmpv
	pkgver = 2.0.2
	pkgrel = 1
	url = https://github.com/Menely/L-MPV
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = npm
	makedepends = rust
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = meson
	makedepends = cython
	makedepends = vulkan-headers
	makedepends = glslang
	makedepends = patchelf
	depends = ffmpeg
	depends = mediainfo
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = python
	depends = vulkan-icd-loader
	depends = libplacebo
	depends = libass
	depends = zimg
	source = l-mpv-2.0.2.tar.gz::https://github.com/Menely/L-MPV/archive/refs/tags/v2.0.2.tar.gz
	source = l-mpv.desktop
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = l-mpv
